*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, button{
    padding: 5px;
}

button{
    cursor: pointer;
}

body{
    background-color: #000;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
}

.container{
    display: grid;
    gap: 5px;
    max-width: 400px;
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 5px;
}

.hidden{
    display: none;
}

.new-user{
    display: flex;
    gap: 10px;
}